@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;

  background-color: #ffc017;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc017;
  padding: 0 4em;
  flex-direction: row;
  height: 100px;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav img {
  height: 1.5em;
  /* flex-grow: 1; */
}

ul {
  display: flex;
  flex-direction: row;
}
ul li {
  list-style: none;
  list-style: none;
  padding: 0.4em;
  display: inline-block;
  font-weight: 500;
  height: 1em;
  vertical-align: middle;
}
.nav-text-btn {
  display: flex;
  flex-direction: row;
}
nav button {
  font-size: 0.9em;
  padding: 0 20px;
  margin-left: 20px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 30px;
}

.post-nav {
  padding-left: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-header {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.text-header h1 {
  font-size: 5em;
  font-weight: 600;
}

.text-header p {
  font-size: 1.4em;
}

.text-header button {
  font-size: 1em;
  color: white;
  background-color: black;
  border: none;
  border-radius: 30px;
  width: 35%;
  padding: 10px 25px;
}

.last-section {
  padding-left: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}

.second-article {
  height: fit-content;
  display: flex;
  flex-direction: row;
}

/* aside section  */
.aside-section {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.aside-section h2 {
  margin: 20px 0;
  font-size: 1em;
  font-weight: bold;
}

.aside-section-button {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(131, 131, 131);
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aside-section button {
  padding: 10px;
  margin: 3px;
  background-color: transparent;
  border: 0.5px solid rgb(131, 131, 131);
  color: rgb(66, 66, 66);
}

.aside-section-a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aside-section a {
  margin: 12px;
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.fa-bookmark {
  font-size: 1.2em;
  margin: 0 10px;
  align-content: end;
}

.second-article-text p img {
  width: 20px;
  margin-right: 10px;
  border-radius: 100%;
}

.second-article-text h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 10px 0;
}

.second-article-text p:nth-of-type(2) {
  color: gray;
  font-size: 1em;
}
.second-article-bottom-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
  margin-top: 15px;
}

.second-article-bottom-text p:nth-of-type(2) {
  background-color: rgba(163, 163, 163, 0.349);
  padding: 7px;
  border-radius: 30px;
  margin: 0 10px;
}

.second-article-text p:nth-child(1) {
  font-size: 12px;
  font-weight: bold;
}

.second-article-img {
  width: 38%;
}

.second-article-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.second-section {
  padding-left: 4em;
  flex-direction: column;
}
.second-section h2 {
  margin: 20px 0;
  font-weight: bold;
}
.first-article {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.number-article {
  display: flex;
  font-size: 2em;
  font-weight: bold;
  color: rgba(119, 119, 118, 0.288);
}

.first-article img {
  border-radius: 100%;
  height: 60%;
  margin-right: 10px;
}

.first-article-text {
  display: flex;
  flex-direction: column;
}

.first-article-text h3 {
  margin: 10px 0 20px 0;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

.first-article-text p {
  color: gray;
  font-size: 1em;
}

.first-article-body {
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  font-size: 0.8em;
}

.first-article-title {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.first-article-title p {
  font-size: 1em;
  font-weight: bold;
}

.part-article {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgb(109, 109, 109);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
